<h2 class="center white-text">Edit Entry</h2>
<%= render 'layouts/navbar' %>
<%= yield %>
<hr>

<div class="container white">
  <%= form_for @person do |f| %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <br>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    <br>

    <%= f.label :age %>
    <%= f.text_field :age %>
    <br>

    <%= f.label :career %>
    <%= f.text_field :career %>
    <br>

    <%= f.check_box :single %>
    <%= f.label :single %>
    <br>

    <%= f.label :movie_quote %>
    <%= f.text_area :movie_quote %>
    <br>
    <div class="center blue-text">
      <%= f.submit %>
    </div>

  <% end %>
</div>

<br>
<hr>
<div class="center">
  <h5 class="teal-text"><%= button_to "Back", people_path, :method => "get" %></h5>
</div>
