<h1 class="center white-text">Contacts</h1>
<%= render 'layouts/navbar' %>
<%= yield %>
<hr>

<div class="center">
  <h4 class="teal-text"><%= button_to 'Create New Entry', new_person_path, :method => "get" %></h4>
</div>

<div class="row">
 <% @people.each do |person| %>
  <div class="col s4">
    <div class="card teal accent-1">
      <div class="card-content blue-grey-text">
        <span class="card-title center"><%= person.first_name %>  <br>  <%= person.last_name %></span>
        <div class="card-action center">
          <button class = "btn waves-effect waves-light blue-grey">
            <%= link_to 'View', person_path(person) %>
          </button>
          <button class = "btn waves-effect waves-light blue-grey">
            <%= link_to 'Edit', edit_person_path(person) %>
          </button>
          <button class = "btn waves-effect waves-light blue-grey">
            <%= link_to 'Delete', person, method: :delete %>
          </button>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>

<hr>
<%= render 'layouts/navbar' %>
<%= yield %>
